@model GadgetHub.Domain.Entities.Gadget

<div class="card m-2 p-2" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">@Model.Name</h5>
		<h6 class="card-subtitle mb-2 text-muted">@Model.Brand</h6>
		<p class="card-text">@Model.Description</p>
		<p class="text-success fw-bold">@Model.Price.ToString("C")</p>
	</div>
</div>

