@{
	ViewBag.Title = "Order Completed";
}

<div class="alert alert-success mt-4 text-center">
	<h3>Thank you!</h3>
	<p>Your order has been submitted successfully.</p>
</div>

@model GadgetHub.Domain.Entities.ShippingDetails

<div class="alert alert-success mt-4 text-center">
	<h3>Thank you, @Model.Name!</h3>
	<p>Your order has been successfully submitted.</p>
</div>
