@model GadgetHub.WebUI.Models.GadgetListViewModel
@using GadgetHub.WebUI.Infrastructure

<h2 class="text-center">Gadget Catalog</h2>

<div class="d-flex flex-wrap justify-content-center">
	@foreach (var gadget in Model.Gadgets)
	{
		@Html.Partial("ProductSummary", gadget)
	}
</div>

<div class="pagination d-flex justify-content-center mt-3">
	@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = ViewBag.CurrentCategory }))
</div>
@Html.Action("Summary", "Cart")
