.text-danger {
    color: red;
    font-weight: bold;
}

input.input-validation-error {
    border: 2px solid red;
}
input.input-validation-error {
    border: 2px solid red;
}

span.field-validation-error {
    color: red;
    font-size: 0.85em;
}
